
body {
	font-family: 'Google Sans', sans-serif;
	display: flex;
	justify-content: center;
	margin: 0;
	padding-top: 3rem;
	background: #f7f7f7;
	text-align: center;
}

h1 {
	margin: 0 0 1rem;
    font-size: 2.5rem;
}

#todo-image {
	display: block;
	max-width: 50%;
	height: auto;
	margin: 0 auto 1rem;
    border-radius: 12px;
}

#todo-image {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#todo-image.fade-out {
  opacity: 0;
}

p {
	margin: 0;
	color: #555;
    font-size: 1.2rem;
}